body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --ocean: rgba(0, 84, 119, 1);
  --ocean60: rgba(0, 84, 119, 0.6);

  --sky: rgba(192, 218, 244, 1);
  --beach: rgba(233, 218, 193, 0.699999988079071);
  --teal: rgba(84, 186, 185, 1);
  --background: rgba(251, 248, 241, 1);
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "ITC Avant Garde";
  src: url("./fonts/ITCAvantGardeStd-Md.eot");
  src: local("ITC Avant Garde Gothic Std Medium"), local("ITCAvantGardeStd-Md"),
    url("./fonts/ITCAvantGardeStd-Md.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ITCAvantGardeStd-Md.woff2") format("woff2"),
    url("./fonts/ITCAvantGardeStd-Md.woff") format("woff"),
    url("./fonts/ITCAvantGardeStd-Md.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ITC Avant Garde";
  src: url("./fonts/ITCAvantGardeStd-Demi.eot");
  src: local("ITC Avant Garde Gothic Std Demi"), local("ITCAvantGardeStd-Demi"),
    url("./fonts/ITCAvantGardeStd-Demi.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ITCAvantGardeStd-Demi.woff2") format("woff2"),
    url("./fonts/ITCAvantGardeStd-Demi.woff") format("woff"),
    url("./fonts/ITCAvantGardeStd-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
